<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-wakelock" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wakelock</name>
    <js-module name="wakelock" src="www/wakelock.js">
        <clobbers target="cordova.plugins.wakelock" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="wakelock">
                <param name="android-package" value="cn.worldflying.cordovaplugin.WakeLock" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <source-file src="src/android/NativeCode.java" target-dir="src/cn/worldflying/cordovaplugin" />
        <source-file src="src/android/WakeLock.java" target-dir="src/cn/worldflying/cordovaplugin" />
        <source-file src="src/android/TimeWorker.java" target-dir="src/cn/worldflying/cordovaplugin" />
    </platform>
</plugin>